%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
  <title> %WIKITOOLNAME% . <nop>%WEB% . %TOPIC% (edit drawing "%PARAM1%") %TMPL:P{"titleaction"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" />
 %HTTP_EQUIV_ON_EDIT%
 <meta http-equiv="Expires" content="0" />
 <meta http-equiv="Pragma" content="no-cache" />
 <meta http-equiv="Cache-Control" content="no-cache" />
</head>
<body bgcolor="#ffffff">
<table width="100%" border="0" cellpadding="3" cellspacing="0">
  <tr>
    <td bgcolor="%WEBBGCOLOR%" rowspan="2" valign="top" width="1%">
      <a href="%WIKIHOMEURL%"><img src="%PUBURLPATH%/wikiHome.gif" border="0" alt="Home" /></a>
    </td>
    <td>
      <b>%WIKITOOLNAME% . <nop>%WEB% . </b><font size="+2"><b>%TOPIC%</b> (edit drawing <b>%PARAM1%</b>) </font>
    </td>
  </tr>
  <tr bgcolor="%WEBBGCOLOR%">
    <td colspan="2">
      <nop>TWikiDraw
    </td>
  </tr>
</table>
<p />
<table width="100%" border="0" cellpadding="3" cellspacing="0"><tr><td>
<img src="%PUBURLPATH%/%SYSTEMWEB%/TWikiDrawPlugin/twikidraw.gif" border="0" alt="" />
</td><td>
%ICON{"help"}% A window with a Java based drawing editor will open up to edit the drawing '%PARAM1%'.

%ICON{"warning"}% It may also be necessary to reload the originating topic after you have fini
shed editing and saving this drawing, to see the updated figure.

%ICON{"key"}% It is important that you are authenticated (are logged in) while editing, otherwise your changes may be lost. %WIKITOOLNAME% currently thinks you are '<nop>%USERINFO{format="$wikiname"}%'.

%ICON{"help"}% You can get help on <nop>TWikiDraw by visiting the <a target="TWikiDrawPlugin" onclick="return launchWindow('%SYSTEMWEB%','TWikiDrawPlugin')" href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/TWikiDrawPlugin"><nop>TWikiDrawPlugin page</a> (opens in new window).
</td></tr></table>

<applet code="CH.ifa.draw.twiki.TWikiDraw.class" archive="%PUBURLPATH%/%SYSTEMWEB%/TWikiDrawPlugin/twikidraw.jar?version=%PARAM3%" width="100%" height="40">
<param name="drawpath" value="%ATTACHURLPATH%/%PARAM1%.draw" />
<param name="drawrev" value="%PARAM2%" />
<param name="gifpath"  value="%ATTACHURLPATH%/%PARAM1%.gif" />
<param name="mappath"  value="%ATTACHURLPATH%/%PARAM1%.map" />
<param name="extracolors"  value="%WEB% background=%WEBBGCOLOR%,%TWIKIDRAWPLUGIN_EXTRA_COLORS%" />
<param name="savepath" value="%SCRIPTURLPATH%/upload%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
<param name="crypttoken_draw" value="%CRYPTTOKEN%"/>
<param name="crypttoken_map" value="%CRYPTTOKEN%"/>
<param name="crypttoken_gif" value="%CRYPTTOKEN%"/>
<param name="crypttoken_svg" value="%CRYPTTOKEN%"/>
<param name="viewpath" value="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
<param name="helppath" value="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%SYSTEMWEB%/TWikiDrawPlugin" />
<b>NOTE:</b> You need a Java enabled browser to edit the drawing %PARAM1%.
</applet>
<p />
<table width="100%" border="0" cellpadding="3" cellspacing="0">
  <tr bgcolor="%WEBBGCOLOR%">
    <td valign="top">
      <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Cancel</a>
    </td>
  </tr>
</table>
</body>
</html>
