/*
*
* LdapContribAdminPlugin admin panel CSS
*
*/

div#LdapContribAdmin { font-size: 12px; }

div#LdapContribAdmin .red { color: red; }
div#LdapContribAdmin .green { color: green; }
div#LdapContribAdmin .yellow { color: yellow; }
div#LdapContribAdmin .bold { font-weight: bold; }

div#LdapContribAdmin img.loader {
  display: inline-block;
  margin-top: -5px;
  display: none;
}

div#LdapContribAdmin p, 
div#LdapContribAdmin div.searchLine {
  margin-bottom: 1em;
}

div#LdapContribAdmin input[type='text'] { border: 1px solid #4571d0; }

div#LdapContribAdmin #SearchBar {
  padding: 2px 5px;
  width: 200px;
  border-radius: 3px;
}

div#LdapContribAdmin p.description {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 1.5em;
}

div#LdapContribAdmin table { border-collapse: collapse; }

div#LdapContribAdmin table.mainTable td {
  padding: 10px;
}

div#LdapContribAdmin table.mainTable td {
  vertical-align: text-top;
}

div#LdapContribAdmin table.mainTable th {
  padding: 10px;
}

div#LdapContribAdmin table.mainTable td {
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
}

div#LdapContribAdmin table.mainTable tr:first-child th {
  background-color: #333;
  color: 1.3em;
}
  
div#LdapContribAdmin table.mainTable tr:first-child, 
div#LdapContribAdmin table.mainTable tr:first-child a {
  color: white;
}

div#LdapContribAdmin table.mainTable tr:first-child a {
  border-bottom: 1px dotted white;
}

div#LdapContribAdmin table.mainTable td.wikiName,
div#LdapContribAdmin table.mainTable td.loginName {
  white-space: nowrap;
}

div#LdapContribAdmin.admin a.navigate.selected { color: green; }
div#LdapContribAdmin.admin div.searchLine { display: none; }

div#LdapContribAdmin.admin table.membershipTable td,
div#LdapContribAdmin.admin table.membershipTable th {
  padding: 2px !important;
  background-color: transparent !important;
  color: black !important;
  border: 0px !important;
}

div#LdapContribAdmin.admin .del,
div#LdapContribAdmin.admin .edit,
div#LdapContribAdmin.admin .save,
div#LdapContribAdmin.admin .cancel {
  cursor: pointer;
}
