.wikiuser-infobox {
    position: absolute;
    top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    z-index: 90000;
    text-align: left;
    display: none;
    border-radius: 3px;
}

.wikiuser-infobox a:visited {
    color: #58438b !important;
}

.wikiuser-infobox a:link {
    color: #4571d0 !important;
}

.wikiuser-infobox table {
    white-space: nowrap;
    font-size: 12px;
    color: black;
    margin: 5px 0 0;
    padding: 5px 0 0;
    border-top: 1px dotted #ccc;
}

.wikiuser-infobox tr.hidden {
    display: none;
}

.wikiuser-infobox td {
    margin: 0px;
    line-height: 1.3em;
}

.wikiuser-infobox td:first-child {
    padding-right: 5px;
    font-weight: bold;
    vertical-align: text-top;
}

.wikiuser-infobox td > div {
    max-width: 350px;
    max-height: 150px;
    overflow-x: auto;
}

.wikiuser-infobox > p {
    margin: 0px;
}
