/* Copyright (C) 2014 Timothe Litt litt at acm dot org
 */

/* Base CSS for displaying Excel spreadsheet files in HTML.
 * To style differently, add another CSS file with overrides.
 * Most of what's here is related to Excel geometry, which is
 * not especially modern.  Almost everything is an HTML class;
 * the exceptions are some numeric values (like heights and colors)
 * and unpredictible values (like font names).  The exceptions are
 * done as element style attributes.
 * Besides the usual classes, each data cell has a private class
 * of the form SheetName\!A1 (The \ is required by CSS quoting rules)
 * Although not recommended, it is a last-ditch escape for forcing
 * a format override.
 */

.errortext {
    text-align: left;
    font-size: larger;
    font-weight: bold;
    color: red;
}

DIV.errortext {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:15px;
    padding-right: 15px;
    border: 2px dashed #808080;
    border-radius: 6px;
    color: #000000;
    margin: 10px;
}

.infotext {
    text-align: left;
    font-size: larger;
    font-weight: bold;
    color: #808080;
}

DIV.infotext {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:15px;
    padding-right: 15px;
    border: 2px dashed #808080;
    border-radius: 6px;
    color: #000000;
    margin: 10px;
}

DIV.ssWindow {
    overflow: auto;
    line-height: 1.5em;
    font-size: 100%;
}

DIV.ssRest,
DIV.ssRestLoading {
    display: block;
    max-height: none;
    max-width: none;
    height: auto;
    width: auto;
}

DIV.ssWorkbook DIV.infotext {
    text-align: center;
}

DIV.ssWrapper {
    display:inline-block;
}
/* There are two major variants:
 * With gridlines and without.
 */
TABLE.spreadsheet,
TABLE.ssWithGrid {
    border-collapse:collapse;
    table-layout: fixed;
}

TABLE.spreadsheet.ssEmpty,
TABLE.ssWithGrid.ssEmpty {
    display: none;
}

TABLE.spreadsheet TR,
TABLE.ssWithGrid TR {
    height: 12.75pt;
    padding: 5px;
}

TABLE.spreadsheet TR.ssOddRow {
    background-color: transparent;
}
TABLE.spreadsheet TR.ssEvenRow {
    /* background-color: #ccff99; */
    background-color: transparent;
}

TABLE.ssWithGrid {
    border-width: 5px;
    border-style: solid;
}

TABLE.ssWithGrid TR.ssOddRow,
TABLE.ssWithGrid TR.ssEvenRow {
    background-color: transparent;
}

TD.ssCell,
TD.ssColHeader,
TD.ssRowHeader {
    border: none;
    font-family: Arial,sans-serif;
    font-size: 10pt;
    width: 64px;
    max-width: 64px;
    color: #000000;
    vertical-align: bottom;
}

TD.ssColHeader DIV.ssCell,
TD.ssCell DIV.ssCell {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    width: 64px;
    max-width: 64px;
}

TD.ssCell DIV.ssCell {
    padding: 0px;
}

TD.ssWrappedText DIV.ssCell {
    overflow: visible;
    text-overflow: clip;
    width: auto;
    max-width: none;
    white-space: normal;
}

TD.ssOverflowOK DIV.ssCell {
    overflow: visible;
}

TABLE.ssWithGrid TD.ssCell {
    border-width: 1px;
    border-style: solid;
    padding: 0px;
}

/* Excel Cell types */

TD.ssTypeNumeric {
    text-align: right;
}

/* Default is text
TD.ssTypeText {
}
*/
TD.ssTypeDate {
    text-align: right;
}

/* Alignments */

TD.ssAlignLeft {
    text-align: left;
}
TD.ssAlignCenter {
    text-align: center;
}
TD.ssAlignRight {
    text-align: right;
}
TD.ssAlignFill { /* This repeats contents */
    text-align: left;
}
TD.ssAlignJustify {
    text-align: justify;
}
TD.ssAlignCenterAcross {
    text-align: center;
}
TD.ssAlignEqualSpace {
    text-align: justify;
    text-justify: distribute;
}

TD.ssAlignTop {
    vertical-align: top;
}
TD.ssAlignMiddle {
    vertical-align: middle;
}
/* Default
TD.ssAlignBottom {
    vertical-align: bottom;
}
*/
TD.ssAlignVJustify { /* Adjust row height */
    vertical-align: center;
}
TD.ssAlignVEqualSpace { /* Pad each line so cell is filled */
    vertical-align: center;
}
TD.ssCell SPAN.ssAlignSuperscript {
    vertical-align: super;
}
TD.ssCell SPAN.ssAlignSubscript {
    vertical-align: sub;
}

/* Rotating a cell's contents requires matching text-alignment
 * AlignBottom is the default.
 */

TD.ssCell DIV.ssCell.ssRotateUp {
    text-align: left;
}

TD.ssCell DIV.ssCell.ssRotateDown {
    text-align: right;
}

TD.ssCell.ssAlignTop DIV.ssCell.ssRotateUp {
    text-align: right;
}

TD.ssCell.ssAlignTop DIV.ssCell.ssRotateDown {
    text-align: left;
}

/* VJustify and VEqualSpace treated as Middle */
/* For now, all three as bottom.  Keeps text in box;
 * too hard to figure the dimensions to do it right.
TD.ssCell.ssAlignMiddle DIV.ssCell.ssRotateUp,
TD.ssCell.ssAlignMiddle DIV.ssCell.ssRotateDown,
TD.ssCell.ssAlignVJustify DIV.ssCell.ssRotateUp,
TD.ssCell.ssAlignVJustify DIV.ssCell.ssRotateDown,
TD.ssCell.ssAlignVEqualSpace DIV.ssCell.ssRotateUp,
TD.ssCell.ssAlignVEqualSpace DIV.ssCell.ssRotateDown {
    text-align: center;
}
*/
TD.ssCell.ssAlignMiddle DIV.ssCell.ssRotateUp,
TD.ssCell.ssAlignVJustify DIV.ssCell.ssRotateUp,
TD.ssCell.ssAlignEqualSpace DIV.ssCell.ssRotateUp {
    vertical-align: bottom;
    text-align: left;
}
TD.ssCell.ssAlignMiddle DIV.ssCell.ssRotateDown,
TD.ssCell.ssAlignVJustify DIV.ssCell.ssRotateDown,
TD.ssCell.ssAlignVEqualSpace DIV.ssCell.ssRotateDown {
    vertical-align: bottom;
    text-align: right;
}
/* End temporary(?) hack */

/* Emphasis.  SPANs are used when segments of a value need
 * different attributes.
 */

TD.ssBold,
TD.ssCell SPAN.ssBold {
    font-weight: bold;
}
TD.ssItalic,
TD.ssCell SPAN.ssItalic {
    font-style: italic;
}
TD.ssUnderSingle,
TD.ssCell SPAN.ssUnderSingle {
    text-decoration: underline;
}
TD.ssUnderSingleAcct,
TD.ssCell SPAN.ssUnderSingleAcct {
    border-bottom: 2px solid;
}
TD.ssUnderDouble SPAN,
TD.ssCell SPAN.ssUnderDouble,
TD.ssUnderDoubleAcct {
    border-bottom: 3px double;
}
TABLE.ssWithGrid TD.ssUnderSingleAcct {
    border-bottom: 5px solid;
}
TABLE.ssWithGrid TD.ssUnderDoubleAcct {
    border-bottom: 5px double;
}

TD.ssStrikeout,
TD.ssCell SPAN.ssStrikeout {
    text-decoration: line-through;
}

/* These can be customized; I don't have an acceptable
 * CSS representation for them as yet.
 */

TD.ssJustLast {
}
TD.ssCellLocked {
}
TD.ssCellHidden {
}

/* Can't do this easily, but at least can allow cell to expand. */
TD.ssShrinkToFit {
    max-width:none;
}

/* Reading direction */

TD.ssCellDirectionLtR {
    direction: ltr;
}
TD.ssCellDirectionRtL {
    direction: rtl;
}

/* This is the (optional) border with row and column numbers/names */

TD.ssColHeader,
TD.ssRowHeader {
    display:none;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    border-style: outset;
    border-width: 2px;
    background-color: #efebde;
}
TABLE.ssWithLabels TD.ssColHeader,
TABLE.ssWithLabels TD.ssRowHeader {
    display:table-cell;
}

TABLE.spreadsheet THEAD,
TABLE.ssWithGrid THEAD {
    display: none;
}

TABLE.ssWithLabels THEAD,
TABLE.ssWithLabels THEAD {
    display: table-header-group;
}

TD.ssRowHeader DIV.ssCell {
}
TD.ssColHeader,
    padding: 0px;
}

TD.ssRowHeader {
    padding: 0px;
}

TD.ssColHeader DIV.ssCell {
    padding: 0px;

}

TD.ssRowHeader DIV.ssCell {
    padding: 0px;
}

/* Fixed width varies with max number of rows */
TD.ssRowHeader1 {
    width: 1em;
}
TD.ssRowHeader2 {
    width: 2em;
}
TD.ssRowHeader3 {
    width: 3em;
}
TD.ssRowHeader4 {
    width: 4em;
}
TD.ssRowHeader5 {
    width: 5em;
}
TD.ssRowHeader6 {
    width: 6em;
}
TD.ssRowHeader7 {
    width: 7em;
}

/* There are 15 indent values, specified in "characters".
 * Defined as 12px (Normal Arial 10pt default font)
 */
TABLE.spreadsheet TD.ssIndent1,
TABLE.ssWithGrid TD.ssIndent1 {
    padding-left: 12px;
}
TABLE.spreadsheet TD.ssIndent2,
TABLE.ssWithGrid TD.ssIndent2 {
    padding-left: 24px;
}
TABLE.spreadsheet TD.ssIndent3,
TABLE.ssWithGrid TD.ssIndent3 {
    padding-left: 36px;
}
TABLE.spreadsheet TD.ssIndent4,
TABLE.ssWithGrid TD.ssIndent4 {
    padding-left: 48px;
}
TABLE.spreadsheet TD.ssIndent5,
TABLE.ssWithGrid TD.ssIndent5 {
    padding-left: 60px;
}
TABLE.spreadsheet TD.ssIndent6,
TABLE.ssWithGrid TD.ssIndent6 {
    padding-left: 72px;
}
TABLE.spreadsheet TD.ssIndent7,
TABLE.ssWithGrid TD.ssIndent7 {
    padding-left: 84px;
}
TABLE.spreadsheet TD.ssIndent8,
TABLE.ssWithGrid TD.ssIndent8 {
    padding-left: 96px;
}
TABLE.spreadsheet TD.ssIndent9,
TABLE.ssWithGrid TD.ssIndent9 {
    padding-left: 108px;
}
TABLE.spreadsheet TD.ssIndent10,
TABLE.ssWithGrid TD.ssIndent10 {
    padding-left: 120px;
}
}
TABLE.spreadsheet TD.ssIndent11,
TABLE.ssWithGrid TD.ssIndent11 {
    padding-left: 132px;
}
}
TABLE.spreadsheet TD.ssIndent12,
TABLE.ssWithGrid TD.ssIndent12 {
    padding-left: 144px;
}
}
TABLE.spreadsheet TD.ssIndent13,
TABLE.ssWithGrid TD.ssIndent13 {
    padding-left: 156px;
}
}
TABLE.spreadsheet TD.ssIndent14,
TABLE.ssWithGrid TD.ssIndent14 {
    padding-left: 168px;
}
}
TABLE.spreadsheet TD.ssIndent15,
TABLE.ssWithGrid TD.ssIndent15 {
    padding-left: 180px;
}

/* There are 13 explicit border styles for each of
 * left, right, top and bottom.
 */

TABLE.spreadsheet TD.ssBorderLeftThin,
TABLE.ssWithGrid TD.ssBorderLeftThin {
    border-left-style: solid;
    border-left-width: 1px;
}
TABLE.spreadsheet TD.ssBorderLeftMedium,
TABLE.ssWithGrid TD.ssBorderLeftMedium {
    border-left-style: solid;
    border-left-width: 2px;
}
TABLE.spreadsheet TD.ssBorderLeftDashed,
TABLE.ssWithGrid TD.ssBorderLeftDashed {
    border-left-style: dashed;
    border-left-width: 1px;
}
TABLE.spreadsheet TD.ssBorderLeftDotted,
TABLE.ssWithGrid TD.ssBorderLeftDotted {
    border-left-style: dotted;
    border-left-width: 1px;
}
TABLE.spreadsheet TD.ssBorderLeftThick,
TABLE.ssWithGrid TD.ssBorderLeftThick {
    border-left-style: solid;
    border-left-width: 3px;
}
TABLE.spreadsheet TD.ssBorderLeftDouble,
TABLE.ssWithGrid TD.ssBorderLeftDouble {
    border-left-style: double;
    border-left-width: 3px;
}
TABLE.spreadsheet TD.ssBorderLeftHairline,
TABLE.ssWithGrid TD.ssBorderLeftHairline {
    border-left-style: solid;
    border-left-width: 0.5px;
}
TABLE.spreadsheet TD.ssBorderLeftMediumDashed,
TABLE.ssWithGrid TD.ssBorderLeftMediumDashed {
    border-left-style: dashed;
    border-left-width: 2px;
}
TABLE.spreadsheet TD.ssBorderLeftDashDot,
TABLE.ssWithGrid TD.ssBorderLeftDashDot {
    border-left-style: groove;
    border-left-width: 1px;
}
TABLE.spreadsheet TD.ssBorderLeftMediumDashDot,
TABLE.ssWithGrid TD.ssBorderLeftMediumDashDot {
    border-left-style: groove;
    border-left-width: 2px;
}
TABLE.spreadsheet TD.ssBorderLeftDashDotDot,
TABLE.ssWithGrid TD.ssBorderLeftDashDotDot {
    border-left-style: inset;
    border-left-width: 1px;
}
TABLE.spreadsheet TD.ssBorderLeftMediumDashDotDot,
TABLE.ssWithGrid TD.ssBorderLeftMediumDashDotDot {
    border-left-style: inset;
    border-left-width: 2px;
}
TABLE.spreadsheet TD.ssBorderLeftSlantedDashDot,
TABLE.ssWithGrid TD.ssBorderLeftSlantedDashDot {
    border-left-style: ridge;
    border-left-width: 1px;
}

TABLE.spreadsheet TD.ssBorderRightThin,
TABLE.ssWithGrid TD.ssBorderRightThin {
    border-right-style: solid;
    border-right-width: 1px;
}
TABLE.spreadsheet TD.ssBorderRightMedium,
TABLE.ssWithGrid TD.ssBorderRightMedium {
    border-right-style: solid;
    border-right-width: 2px;
}
TABLE.spreadsheet TD.ssBorderRightDashed,
TABLE.ssWithGrid TD.ssBorderRightDashed {
    border-right-style: dashed;
    border-right-width: 1px;
}
TABLE.spreadsheet TD.ssBorderRightDotted,
TABLE.ssWithGrid TD.ssBorderRightDotted {
    border-right-style: dotted;
    border-right-width: 1px;
}
TABLE.spreadsheet TD.ssBorderRightThick,
TABLE.ssWithGrid TD.ssBorderRightThick {
    border-right-style: solid;
    border-right-width: 3px;
}
TABLE.spreadsheet TD.ssBorderRightDouble,
TABLE.ssWithGrid TD.ssBorderRightDouble {
    border-right-style: double;
    border-right-width: 3px;
}
TABLE.spreadsheet TD.ssBorderRightHairline,
TABLE.ssWithGrid TD.ssBorderRightHairline {
    border-right-style: solid;
    border-right-width: 0.5px;
}
TABLE.spreadsheet TD.ssBorderRightMediumDashed,
TABLE.ssWithGrid TD.ssBorderRightMediumDashed {
    border-right-style: dashed;
    border-right-width: 2px;
}
TABLE.spreadsheet TD.ssBorderRightDashDot,
TABLE.ssWithGrid TD.ssBorderRightDashDot {
    border-right-style: groove;
    border-right-width: 1px;
}
TABLE.spreadsheet TD.ssBorderRightMediumDashDot,
TABLE.ssWithGrid TD.ssBorderRightMediumDashDot {
    border-right-style: groove;
    border-right-width: 2px;
}
TABLE.spreadsheet TD.ssBorderRightDashDotDot,
TABLE.ssWithGrid TD.ssBorderRightDashDotDot {
    border-right-style: inset;
    border-right-width: 1px;
}
TABLE.spreadsheet TD.ssBorderRightMediumDashDotDot,
TABLE.ssWithGrid TD.ssBorderRightMediumDashDotDot {
    border-right-style: inset;
    border-right-width: 2px;
}
TABLE.spreadsheet TD.ssBorderRightSlantedDashDot,
TABLE.ssWithGrid TD.ssBorderRightSlantedDashDot {
    border-right-style: ridge;
    border-right-width: 1px;
}

TABLE.spreadsheet TD.ssBorderTopThin,
TABLE.ssWithGrid TD.ssBorderTopThin {
    border-top-style: solid;
    border-top-width: 1px;
}
TABLE.spreadsheet TD.ssBorderTopMedium,
TABLE.ssWithGrid TD.ssBorderTopMedium {
    border-top-style: solid;
    border-top-width: 2px;
}
TABLE.spreadsheet TD.ssBorderTopDashed,
TABLE.ssWithGrid TD.ssBorderTopDashed {
    border-top-style: dashed;
    border-top-width: 1px;
}
TABLE.spreadsheet TD.ssBorderTopDotted,
TABLE.ssWithGrid TD.ssBorderTopDotted {
    border-top-style: dotted;
    border-top-width: 1px;
}
TABLE.spreadsheet TD.ssBorderTopThick,
TABLE.ssWithGrid TD.ssBorderTopThick {
    border-top-style: solid;
    border-top-width: 3px;
}
TABLE.spreadsheet TD.ssBorderTopDouble,
TABLE.ssWithGrid TD.ssBorderTopDouble {
    border-top-style: double;
    border-top-width: 3px;
}
TABLE.spreadsheet TD.ssBorderTopHairline,
TABLE.ssWithGrid TD.ssBorderTopHairline {
    border-top-style: solid;
    border-top-width: 0.5px;
}
TABLE.spreadsheet TD.ssBorderTopMediumDashed,
TABLE.ssWithGrid TD.ssBorderTopMediumDashed {
    border-top-style: dashed;
    border-top-width: 2px;
}
TABLE.spreadsheet TD.ssBorderTopDashDot,
TABLE.ssWithGrid TD.ssBorderTopDashDot {
    border-top-style: groove;
    border-top-width: 1px;
}
TABLE.spreadsheet TD.ssBorderTopMediumDashDot,
TABLE.ssWithGrid TD.ssBorderTopMediumDashDot {
    border-top-style: groove;
    border-top-width: 2px;
}
TABLE.spreadsheet TD.ssBorderTopDashDotDot,
TABLE.ssWithGrid TD.ssBorderTopDashDotDot {
    border-top-style: inset;
    border-top-width: 1px;
}
TABLE.spreadsheet TD.ssBorderTopMediumDashDotDot,
TABLE.ssWithGrid TD.ssBorderTopMediumDashDotDot {
    border-top-style: inset;
    border-top-width: 2px;
}
TABLE.spreadsheet TD.ssBorderTopSlantedDashDot,
TABLE.ssWithGrid TD.ssBorderTopSlantedDashDot {
    border-top-style: ridge;
    border-top-width: 1px;
}

TABLE.spreadsheet TD.ssBorderBottomThin,
TABLE.ssWithGrid TD.ssBorderBottomThin {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
TABLE.spreadsheet TD.ssBorderBottomMedium,
TABLE.ssWithGrid TD.ssBorderBottomMedium {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
TABLE.spreadsheet TD.ssBorderBottomDashed,
TABLE.ssWithGrid TD.ssBorderBottomDashed {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}
TABLE.spreadsheet TD.ssBorderBottomDotted,
TABLE.ssWithGrid TD.ssBorderBottomDotted {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}
TABLE.spreadsheet TD.ssBorderBottomThick,
TABLE.ssWithGrid TD.ssBorderBottomThick {
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
TABLE.spreadsheet TD.ssBorderBottomDouble,
TABLE.ssWithGrid TD.ssBorderBottomDouble {
    border-bottom-style: double;
    border-bottom-width: 3px;
}
TABLE.spreadsheet TD.ssBorderBottomHairline,
TABLE.ssWithGrid TD.ssBorderBottomHairline {
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}
TABLE.spreadsheet TD.ssBorderBottomMediumDashed,
TABLE.ssWithGrid TD.ssBorderBottomMediumDashed {
    border-bottom-style: dashed;
    border-bottom-width: 2px;
}
TABLE.spreadsheet TD.ssBorderBottomDashDot,
TABLE.ssWithGrid TD.ssBorderBottomDashDot {
    border-bottom-style: groove;
    border-bottom-width: 1px;
}
TABLE.spreadsheet TD.ssBorderBottomMediumDashDot,
TABLE.ssWithGrid TD.ssBorderBottomMediumDashDot {
    border-bottom-style: groove;
    border-bottom-width: 2px;
}
TABLE.spreadsheet TD.ssBorderBottomDashDotDot,
TABLE.ssWithGrid TD.ssBorderBottomDashDotDot {
    border-bottom-style: inset;
    border-bottom-width: 1px;
}
TABLE.spreadsheet TD.ssBorderBottomMediumDashDotDot,
TABLE.ssWithGrid TD.ssBorderBottomMediumDashDotDot {
    border-bottom-style: inset;
    border-bottom-width: 2px;
}
TABLE.spreadsheet TD.ssBorderBottomSlantedDashDot,
TABLE.ssWithGrid TD.ssBorderBottomSlantedDashDot {
    border-bottom-style: ridge;
    border-bottom-width: 1px;
}

/* Workbook */
.ssWorkbook {
}

/* Data source revision information */
.ssTitle {

}
.ssTitleText {
    display: inline-block;
}
.ssRevInfo,
.ssTitle P .ssRevInfo {
    font-style: italic;
    font-size: smaller;
}
.ssTitle .ssRevInfo {
    font-size: 100%;
}
.ssTitleText + .ssRevInfo {
    font-size: smaller;
    float: right;
}

/* *** Tabbed display *** */
/* From JQueryUI framework (MIT license), modified.
 */
/* 
 * ui-tabs: The outer container of the tabs. This element will also have a class of ui-tabs-collapsible when the collapsible option is set.
 * ui-tabs-nav: The list of tabs.
 *              The active list item in the nav will have a ui-tabs-active class. Any list item whose associated content is loading via an Ajax call will have a ui-tabs-loading class.
 *              ui-tabs-anchor: The anchors used to switch panels.
 *              ui-tabs-panel: The panels associated with the tabs. Only the panel whose corresponding tab is active will be visible.
 */

/* Tabs - setup JQuery UI */

.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 80%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}

.ui-tabs {
    position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    padding: .2em;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0 .2em 0;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
    background-color: #C0C0C0;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .25em .25em;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: text;
}

.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    background: none;
}

.ui-tabs .ui-tabs-hide {
    display:none;
}

.ui-widget .ui-widget {
    font-size: 0.8em;
}


/* Tabs bar */

.ui-widget-header {
    background-color: #dddddd;
    border: 1px solid #aaaaaa;
    color: #000000;
    font-weight: bold;
    display: inline-block;
    width: 99%;
}

.ui-widget-header a {
    color: #000000;
}

.ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    font-weight: normal;
    color: #EFEBDE;
}

.ui-tabs-nav li a {
    background-color: transparent;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #EFEBDE
    text-decoration: none;
}

.ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #999999;
    font-weight: normal;
    color: #000000;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
    background-color: #ff0000;
    text-decoration: none;
}

.ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa;
    font-weight: bold;
    color: #212121;

}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 6px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 6px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 6px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 6px;
}

/* Tabs are highlighted in their color if
 * they have one.  Javascript manages
 * those from spreadsheet data.  When
 * active, the background is copied from
 * the corner grid label cell.  These
 * manage the style - and the default.
 * the height of all tabs must be the same
 * for them to float past eachother when there are
 * multiple rows.
 */

ul.ui-tabs-nav li.ui-state-default{
    border-bottom: 4px solid transparent;
    background-color: #d3d3d3;
}

ul.ui-tabs-nav li.ui-tabs-selected,
ul.ui-tabs-nav li.ui-state-active {
    border-bottom: 4px solid #000000;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;    
    background-color: #d3d3d3;
}

/* Left-over space at right
 */
ul.ui-tabs-nav li.ssRemaining {
    color: #ffffff;
    text-align:right;
    padding-right: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 5px;
    padding-bottom: 11px;
    float: none;
    overflow:hidden;
}